body{
    background-image: url('background.jpg');  
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: min(900px, 90vw);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.images{
    gap: 20px;
    display: flex;
    justify-content: center;
}
.images img{
    height: 100px;
    width: auto;
    border: 2px solid gray;
    border-radius: 15px;
}
.points-container{
    font-weight: bold;
    padding: 6px;
    border: 2px solid gray;
    border-radius: 15px;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}
.result, .computer-selected{
    text-align: center;
    font-weight: bold;
}
.round-result{
    text-align: center;
}
.new-game{
    background-color: lightblue;
    border: 2px solid gray;
    padding: 6px;
    font-weight: bold;
    margin-top: 24px;
}

@media screen and (max-width: 500px){
    .images{
        flex-direction: column;
    }
}